.app__wrapper {
    min-height: 100vh;
    padding-top: 1px;
    padding-bottom: 50px;
}


/* MAIN THEME */
.app__wrapper.main_theme {
    color: #fff;
    background: linear-gradient(rgba(0,0,0, 0.7), rgba(0, 235, 235, 0.7)), url(../../../assets/images/appbg2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-size: cover; */
}
.main_theme .hw_section {
    border: 2px solid rgba(255, 255, 255, .5);
    background-color: rgba(0, 235, 235, 0.2);
}



/* DARK THEME */
.app__wrapper.dark_theme {
    color: #8bc34a;
    background: linear-gradient(rgba(0,0,0, .1), rgba(0,0,0, 0.9)), url(../../../assets/images/appbg2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.dark_theme .hw_section{
    border: 2px solid rgba(255,255,255, .1);
    /* background-color: rgba(139, 195, 74, 0.4); */
    box-shadow: 0px 0px 22px rgb(255 255 255 / 40%);
    background-color: #2c2c2c;
}

.dark_theme hr {
    /* margin: 20px 0; */
}



/* JS THEME */
.app__wrapper.js_theme {
    color: #2e2e2e;
    background: linear-gradient(rgba(0,0,0, .1), rgba(0,0,0, 0.1)), url(../../../assets/images/js_theme_bg.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.js_theme .hw_section{
    border: none;
    /* background-color: rgba(139, 195, 74, 0.4); */
    background-color: rgba(153, 226, 69, 0.4);
}

.js_theme hr {
    visibility: hidden;
    /* border-color: rgba(6,6,6, .1); */
}



/* REACT THEME */
.app__wrapper.react_theme {
    color: #fff;
    background: linear-gradient(rgba(0,0,0, .1), rgba(0,0,0, 0.9)), url(../../../assets/images/react_theme_bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.react_theme .hw_section {
    border: none;
    background-color: rgba(255,255,255, .03);
}
.react_theme .page__title {
    margin-left: 60px;
    text-align-last: left;
}
.react_theme hr {
    visibility: hidden;
}



/* PURPLE LIQUID THEME */
.app__wrapper.purple_liquid_theme {
    color: #35baf6;
    background: linear-gradient(rgba(0,0,0, .1), rgba(0,0,0, 0.9)), url(../../../assets/images/purple_liquid.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.purple_liquid_theme .hw_section{
    border: none;
    background-color: transparent;
}
.purple_liquid_theme .page__title {
    margin-left: 60px;
    text-align-last: left;
    text-shadow: -2px -2px 8px rgba(0, 0, 0, 1);
}
.purple_liquid_theme hr {
    visibility: hidden;
}


























