/* ATTENTION:  */
/* For IE support, you need to replace css variables and uncomment the code with -mx- prefixes */


/* 
Elements position structure
-> range inputs <none zIndex> (static positioning)
    ->  slider wrapper <zIndex 4> 
        ->  slider selected range line <zIndex 6>
            ->  slider points <zIndex 22>
*/


/* SOME OPTIONS */
:root {
	--SDR-slider_border-height: 1px;
	--SDR-slider_body-height: 4px;
	--SDR-slider_bg-color: #222327;
	--SDR-slider_border-color: rgba(255, 255, 255, 0.8);
    --SDR-slider_focus-style: 3px solid rgba(41, 253, 83, .3);

	--SDR-range_selected-bg-color: #29fd53;

	--SDR-slider_point-diameter: 18px;
	--SDR-slider_point-bg-color: #444;
    --SDR-slider_point-bg-image: none;
    --SDR-slider_point-border: 1px solid rgba(255, 255, 255, .3);
}



/* SLIDER WRAPPER (custom range track)*/
/* todo: change width (in tsx sliderWidth prop with default value 100% >>>>  style={{width: sliderWidth}})*/
.slider__wrapper {
	position: relative;
	z-index: 4;
	width: 200px;
	height: calc(var(--SDR-slider_body-height) + (var(--SDR-slider_border-height) * 2));
	background-color: var(--SDR-slider_bg-color);
	border: var(--SDR-slider_border-height) solid var(--SDR-slider_border-color);
	border-radius: 6px;
}



/* SELECTED RANGE LINE */
.range__selected_line {
	position: absolute;
	z-index: 6;
	width: 100%;
	height: 100%;
	background-color: var(--SDR-range_selected-bg-color);
	/* border-left: calc( var(--SDR-slider_point-diameter) / 2 ) solid var(--SDR-slider_bg-color);
	border-right: calc( var(--SDR-slider_point-diameter) / 2 ) solid var(--SDR-slider_bg-color); */
	border-radius: 6px;
}



/* RANGE INPUTS */
/* crossbrowser reset/normalize default view */
.range__input {
	-webkit-appearance: none; /* Hides default inputs */
	position: absolute; /*!!!!!! Leave the default z-index value of the INPUTS*/
	top: 0;
	left: 0;
	width: 100%; /* for Firefox */
	height: 100%; /* slider points - align center */
	margin: 0; /* clear default margins */
	background-color: transparent; /* Otherwise bg in Chrome (default white)*/
	cursor: pointer;
}

/* for Internet Explorer (but need to remove var() because they are not supported in internet explorer) */
/* .range__input::-ms-track {
	width: 100%;
	cursor: pointer;
	background: transparent; /* hides default slider track
	border-color: transparent; /* hides default slider track
	color: transparent; /* hides default slider track
} */
.range__input:focus {
	outline: var(--SDR-slider_focus-style);
    border-radius: 6px;
}




/* SLIDER POINTS */
.range__input::-webkit-slider-thumb {
	-webkit-appearance: none; /* Hides default slider points (Chrome, Safari, Opera) */
}

/* crossbrowser customize slider points*/
.range__input::-webkit-slider-thumb { /* Chrome, Safari, Opera */
	position: relative;
	z-index: 22; /* !!!!!!! Changed z-index value of the SLIDER POINTS */
	width: var(--SDR-slider_point-diameter);
	height: var(--SDR-slider_point-diameter);
    border: var(--SDR-slider_point-border);
	border: 100%;
	border-radius: 100%;
	background-color: var(--SDR-slider_point-bg-color);
    background-image: var(--SDR-slider_point-bg-image);
	box-shadow: 0px 0px 6px #999, 1px 1px 8px #666;
	cursor: pointer;
}

.range__input::-moz-range-thumb { /* Mozilla Firefox */
	position: relative;
	z-index: 22; /* !!!!!!! Changed z-index value of the SLIDER POINTS */
	width: var(--SDR-slider_point-diameter);
	height: var(--SDR-slider_point-diameter);
    border: var(--SDR-slider_point-border);
	border: 100%;
	border-radius: 100%;
	background-color: var(--SDR-slider_point-bg-color);
    background-image: var(--SDR-slider_point-bg-image);
	box-shadow: 0px 0px 6px #999, 1px 1px 8px #666;
	cursor: pointer;
}

/* for Internet Explorer (but need to remove var() because they are not supported in internet explorer) */
/* .range__input::-ms-thumb {  /* Internet Explorer 
	position: relative;
	z-index: 22; /* !!!!!!! Changed z-index value of the SLIDER POINTS 
	width: var(--SDR-slider_point-diameter);
	height: var(--SDR-slider_point-diameter);
    border: var(--SDR-slider_point-border);
	border: 100%;
	border-radius: 100%;
	background-color: var(--SDR-slider_point-bg-color);
    background-image: var(--SDR-slider_point-bg-image);
	box-shadow: 0px 0px 6px #999, 1px 1px 8px #666;
	cursor: pointer;
} */














/* other crossbrowser options (for input range track customization) */
/* our input under other elements*/

/* .range__input::-webkit-slider-runnable-track {
	background: transparent;
}
.range__input:focus::-webkit-slider-runnable-track {
	background-color: transparent;
}
.range__input::-moz-range-track {
	background: transparent;
}
.range__input::-ms-track {
	background: transparent;
}
.range__input::-ms-fill-lower {
	background: transparent;
}
.range__input:focus::-ms-fill-lower {
	background: transparent;
}
.range__input::-ms-fill-upper {
	background: transparent;
}
.range__input:focus::-ms-fill-upper {
	background: transparent;
} */
