.wrapper {
    display: flex;
    align-items: flex-end;
}
.avatar {
    width: 55px;
    height: 55px;
    margin-right: 25px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #666;
}
.image {
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
}
.message {
    box-sizing: border-box;
    position: relative;
    display: flex;
    max-width: 400px;
    flex-direction: column;
    min-width: 250px;
    padding: 10px 65px 15px 20px;
    word-break: break-all;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: rgba(0, 0, 0, .4);
}
.decorator {
    position: absolute;
    width: 15px;
    height: 15px;
    bottom: 0;
    left: -15px;
    background: radial-gradient(circle at 0 0, rgba(0,0,0,0) 15px, rgba(0, 0, 0, .4) 0);
}
.name {
    margin-bottom: 5px;
    color: #a395d6;
    font-weight: 600;
}
.text {
    color: #fff;
}
.date {
    position: absolute;
    right: 20px;
    bottom: 10px;
    /* align-self: flex-end; */
    color: #666
}

@media (max-width: 400px) {
    .message {
        min-width: 180px;
    }
}