.affairs_form{
    display: flex;
}

.affairs__submit_btn {
    height: 46px;
}


.filter__btn {
    opacity: .6;
}
.filter__btn_active {
    opacity: 1;
    border: 2px solid rgba(255,255,255, .4);
}
