.affairs__wrapper {
    padding: 10px;
    margin: 15px 0;
    border: 4px dashed rgba(255,255,255, .4);
    border-radius: 4px;
}

.affair__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 10px;
    margin-bottom: 6px;
    border-radius: 4px;
    background-color: rgba(0,0,0, .1);
}
/* .affair__item.low {
    border-bottom: 2px solid rgba(42, 153, 36, .6);
    border-right: 2px solid rgba(42, 153, 36, .6);
    border-left: 2px solid rgba(42, 153, 36, .6);
}
.affair__item.middle {
    border-bottom: 2px solid rgba(255, 201, 7, .6);
    border-right: 2px solid rgba(255, 201, 7, .6);
    border-left: 2px solid rgba(255, 201, 7, .6);
}
.affair__item.high {
    border-bottom: 2px solid rgba(234, 46, 65, .6);
    border-right: 2px solid rgba(234, 46, 65, .6);
    border-left: 2px solid rgba(234, 46, 65, .6);
} */

.affair__item_name {
    margin-right: 30px;
    font-weight: 900;
}
.affair__item_priority {
    min-width: 66px;
    margin-right: 40px;
    margin-left: auto;
    font-weight: 900;
}
.low .affair__item_priority{
    color: #2a9924;
}
.middle .affair__item_priority{
    color: #ffc907;
}
.high .affair__item_priority{
    color: #ea2e41;
}



.filter__btns_wrapper {
    display: flex;
    gap: 6px;
}


.affairs_form{
    display: flex;
}

.affairs__submit_btn {
    height: 46px;
}


.filter__btn {
    opacity: .6;
}
.filter__btn_active {
    opacity: 1;
    border: 2px solid rgba(255,255,255, .5);
}
