.guest__form {
    display: flex;
}

.guest__input {
    width: 100%;
    border: 1px solid #666;
}

.validation_error {
    border: 1px solid red;
}
.error_message {
    display: block;
    width: 100%;
    color: red;
}